section.checkout {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 6px;
    justify-content: space-between;
    margin: 0 auto;
}
.product {
    display: flex;

    &__img {
        border-radius: 6px;
        margin: 10px;
        height: 10rem;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        text-align: center;
        font-size: 2rem;
        line-height: 20px;
        letter-spacing: -0.154px;
        margin: 0;
    }
    &__price {
        font-size: 1.2rem;
    }
}
